.auth-page {
    padding: 0;
    margin: 0;
}
.border-right {
  border-right: 2px solid #000;
}
.border-left {
  border-left: 1px solid #cecece;
}
.padding-right-5 {
  padding-right: 5px;
}
.padding-left-5 {
  padding-left: 5px;
}
.padding-right-10 {
  padding-right: 10px;
}
.padding-left-10 {
  padding-left: 10px;
}
.padding-left-13 {
  padding-left: 13px;
}
.padding-left-8 {
  padding-left: 8px;
}
.padding-right-15 {
  padding-right: 15px;
}
.padding-left-15 {
  padding-left: 15px;
}
.uk-background-default-important {
  background-color: #fff !important;
}
.margin-top-5 {
  margin-top: 5px;
}
.margin-top-10 {
  margin-top: 10px;
}
.margin-top-20 {
  margin-top: 20px;
}
.margin-top-100 {
  margin: 100px 0 0 0;
}
.justify-content-between {
  justify-content: space-between;
}
.align-items-start {
  align-items: flex-start;
}
.margin-5 {
  margin: 5px;
}
.margin-right-5 {
  margin-right: 5px;
}
.width-70 {
  width: 70%;
}

.margin-left-5 {
  margin-left: 5px;
}

.img-icons {
  width: 30px;
  height: 30px;
}

.experience, education {
    color: #000;
}
.dates {
    color: #666;
}
.uk-button-xs {
 padding:0 8px;
 line-height:25px;
 font-size:.875rem;
 text-transform: none;
}
.text-pr2 {
    color: #666;
}

@media only screen and (min-width: 320px) and (max-width: 812px) {
  .uk-navbar,
  .experience,
  .education {
    flex-direction: column;
    align-items: center;
  }
  .uk-navbar-left {
    justify-content: center;
  }
  .uk-navbar-right {
    margin-top: 0 !important;
    flex-direction: column;
    align-items: center;
  }
  form {
    text-align: center;
  }
  .nav-right {
    margin-top: 0 !important;
  }
  .sorting-dropdown {
    margin-bottom: 10px;
  }
  .skills-info a {
    margin-bottom: 5px;
  }
  .education,
  .experience {
    text-align: center;
  }
}
@media only screen and (min-width: 320px) and (max-width: 450px) {
  .search-input {
    width: 70%;
  }
  form {
    text-align: center;
  }
  .profile-overview {
    flex-direction: column;
    align-items: center;
  }
  .current-position,.description {
    text-align: center;
  }
  .profile-details{
    align-items: center;
  }
  .social-icons{
    justify-content: space-around;
  }
}
@media only screen and (min-width: 320px) and (max-width: 363px) {
  .search-input {
    width: 60%;
  }
  form {
    text-align: center;
  }
}

@media only screen and (min-width: 450px) and (max-width: 812px) {
  .search-input {
    width: 50%;
  }
  form {
    text-align: center;
  }
}
